/* All elements */
 html{
   scroll-behavior: smooth;
}

h1 {
  font-size: 625%;
  color: #fff;
  position: absolute;
  margin: 400px 400px;
  top: 0;
  font-family: 'favela', sans-serif;
  font-weight:800;
}

h2 {
  color: #fff;
  font-family: 'favela', sans-serif;
  font-size: 2rem;
  font-weight:800;
}

h3 {
  font-family: 'favela', sans-serif;
  font-size: 2rem;
  color: #fff;
  font-weight:400;
}

body{
  background-color: black;
  text-align: center;
  font-size: 20px;
  font-family: 'Merriweather', serif;
}

p {
  line-height: 2;
  color: #fff;
  font-family: 'favela', sans-serif;
  font-weight:200;
  text-align: center;
}

hr {
  border: dotted #fff 6px;
  border-bottom: none;
  width: 10%;
  margin: auto;
  margin-bottom: 50px;
}

a {
    font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  font-size: 25px;
  text-decoration: none;
}
/* ------------------------------------------ */
/* All Classes */
/* NavBar */
.navbar{
  width: 100%;
}
.nav-link{
  color: #fff;
}
/* ------------------------------------------ */
/* Top-Container */
.top-container {
  position: relative;
}
.intro-video{
  width: 100%;
}

.intro-text{
  position: absolute;
  margin: 700px 600px;
  top: 0;
}
/* ------------------------------------------ */
/* Middle-Container */
.middle-container {
  margin: 100px 0;
  width: auto;
}
.my-intro {
  color: #fff;
  width: 50%;
  margin: auto;
  padding-bottom: 100px;
}
/* ------------------------------------------ */
/* Skills-Section */
.my-skills{
margin: 40px 0;
}
.skill-row {
  width: 100%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.design-dev-img {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 30px;
}
.design-dev-intro {
  text-align: left;
  margin-left: auto;
}

.research-analytics-img {
  width: 250px;
  height: 250px;
  margin-right: 10px;
  float: right;
}
.Research-analytics-explanation {
  text-align: left;
  margin-left: auto;
}

.marketing-promotion-img {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 30px;
}
.marketing-promotion-explanation {
  text-align: left;
  margin-left: auto;
}
#skills-section{
  padding: 0 200px;
}
/* ------------------------------------------ */
/* Contact-Section */

.contact-message {
  width: 70%;
  margin: 40px auto 60px;
}
.btn {
  font-family: 'favela', sans-serif;
  font-weight:800;
}
/* ------------------------------------------ */
/* Footer-Section */
.bottom-container {
  padding-top: 100px;
  padding-bottom: 20px;
  margin-top: 50px;
}

.footer-link {
  color: #fff;
  padding-top: 10px;
  font-family: 'favela', sans-serif;
  font-weight:400;
}
.copyright-message {
  color: #fff;
  font-family: 'favela', sans-serif;
  font-weight:800;
  text-decoration-style: double;
  font-size: 1rem;
  padding-top: 20px;

}
.footer-icon{
  color: #fff;
}
/* ------------------------------------------ */
/* Media-Queries */
@media (max-width: 1600px) {
  /* NavBar */
  .Logo{
    width: 200px;
    height: 200px;
  }
  /* Top-Container */
  h1{
    margin: 200px 400px;
  }
  .intro-text{
    margin: 500px 100px;
    font-size: 2rem;
  }
  /* ------------------------------------------ */
  /* Middle-Container */
  .Hello-msg{
    margin-bottom: 20px;
    font-size: 5rem;
  }
  .my-intro{
  padding-bottom: 20px;
  font-size: 2rem;
  }

/* ------------------------------------------ */
/* Skills-Section */
.my-skills{
  font-size: 5rem;
}
.skill-title{
   font-size: 3rem;
   font-weight: bold;
 }
 .design-dev-intro{
   font-size: 2rem;
 }
 .Research-analytics-explanation{
   font-size: 2rem;
 }
 .marketing-promotion-explanation{
   font-size: 2rem;
 }
/* ------------------------------------------ */
/* Contact-Section */

.contact-heading{
  font-size: 4rem;
  margin: 0px 200px;
  padding-bottom: 50px;
}
.freelance-text{
    font-size: 3rem;
}
.contact-message{
font-size: 2rem;
}
.btn{
  font-size: 2rem;
}
/* ------------------------------------------ */
/* Footer-Section */
.footer-link{
  font-size: 2.5rem;
}
/* ------------------------------------------ */
}
/* ------------------------------------------ */
@media (min-width: 1900px) {
  /* NavBar */
  .Logo{
    width: 150px;
    height: 150px;
  }
  .nav-link{
    font-size: 2rem;
    }
    /* ------------------------------------------ */
/* Top-Container */
  h1{
    margin: 400px 400px;
    font-size: 700%;
  }
  .intro-video{
     margin: 0 auto  0 auto;
  }
  .intro-text{
    margin: 800px 500px;
    font-size: 3rem;
  }
  /* ------------------------------------------ */
/* Middle-Container */
.profile-pic{
  margin-bottom: 25px;
}
.Hello-msg{
  margin-bottom: 20px;
  font-size: 4rem;
}
.my-intro{
padding-bottom: 20px;
font-size: 2rem;
}
hr{
    margin-bottom: 80px;
  }
/* ------------------------------------------ */
/* Skills-Section */
.my-skills{
  font-size: 4rem;
}
 .skill-title{
    font-size: 2.8rem;
    font-weight: bold;
  }
  .design-dev-img{
    width: 250px;
    height: 250px;
  }
  .design-dev-intro{
    font-size: 2rem;
  }
  .research-analytics-img{
    width: 350px;
    height: 300px;
  }
  .Research-analytics-explanation{
    font-size: 2rem;
  }
  .marketing-promotion-img{
    width: 400px;
    height: 400px;
  }
  .marketing-promotion-explanation{
    font-size: 2rem;
  }
/* ------------------------------------------ */
/* Contact-Section */

.contact-heading{
  font-size: 4rem;
  margin-bottom: 50px;
}
.freelance-text{
    font-size: 2.5rem;
}
.contact-message{
font-size: 2rem;
}
.btn{
  font-size: 2rem;
}

/* ------------------------------------------ */
/* Footer-Section */

/* ------------------------------------------ */
@media (min-width: 3000px) {
  /* NavBar */
  .Logo{
    width: 150px;
    height: 150px;
  }
  .nav-link{
    font-size: 2rem;
    }
    /* ------------------------------------------ */
/* Top-Container */
  h1{
    margin: 600px 900px;
    font-size: 700%;
  }
  .intro-video{
     margin: 0 auto  0 auto;
  }
  .intro-text{
    margin: 1000px 1100px;
    font-size: 3rem;
  }
  /* ------------------------------------------ */
/* Middle-Container */
.profile-pic{
  margin-bottom: 25px;
}
.Hello-msg{
  margin-bottom: 20px;
  font-size: 4rem;
}
.my-intro{
padding-bottom: 20px;
font-size: 2rem;
}
hr{
    margin-bottom: 80px;
  }
/* ------------------------------------------ */
/* Skills-Section */
.my-skills{
  font-size: 4rem;
}
 .skill-title{
    font-size: 2.8rem;
    font-weight: bold;
  }
  .design-dev-img{
    width: 250px;
    height: 250px;
  }
  .design-dev-intro{
    font-size: 2rem;
  }
  .research-analytics-img{
    width: 350px;
    height: 300px;
  }
  .Research-analytics-explanation{
    font-size: 2rem;
  }
  .marketing-promotion-img{
    width: 400px;
    height: 400px;
  }
  .marketing-promotion-explanation{
    font-size: 2rem;
  }
/* ------------------------------------------ */
/* Contact-Section */

.contact-heading{
  font-size: 4rem;
}
.freelance-text{
    font-size: 3rem;
}
.contact-message{
font-size: 2rem;
}
.btn{
  font-size: 2rem;
}

/* ------------------------------------------ */
/* Footer-Section */

/* ------------------------------------------ */
